/ {
    keymap {
        compatible = "zmk,keymap";

    // Default Layer
    default_layer {
        bindings = <
            &kp Q      &kp W        &kp F          &kp P          &kp B            &kp J        &kp L        &kp U        &kp Y       &kp SQT
            &hm LGUI A &hm LALT R   &hm LCTRL S    &hm LSHFT T    &kp G            &kp M        &hm RSHFT N  &hm RCTRL E  &hm LALT I  &hm RGUI O
            &kp Z      &kp X        &kp C          &kp D          &kp V            &kp K        &kp H        &kp COMMA    &kp DOT     &kp FSLH
                                    &lt MSE ESC    &lt NAV SPACE  &lt MED TAB      &lt FUN RET  &lt NUM BSPC &lt SYM DEL
        >;
    };
};
